body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}

#topLoader {
	width: 256px;
	height: 256px;
	position: absolute;
	left: 50%;
	margin-left: 128;
	right: 50%;
	margin-right: 128;
}


#animateButton {
	width: 256px;
}

#alert{
	position: absolute;
	left:40px;
	top:40px;

	font-size: 30px;
	display: none;
}

body, html{
	background-color: #000;
	color:#fff;
}

#stats{
	position: absolute;
	top: 40px;
	right: 40px;
	color: white;
}